
.vs/Character Making File Tool/v16/.suo
PSO2 Salon Tool.7z

Character Making File Tool/bin/

Character Making File Tool/obj/

CharFileLibrary/bin/

CharFileLibrary/obj/

.vs/

packages/

NGS Salon Tool/bin/

NGS Salon Tool/obj/

NGS Salon Tool/a.png

CharFileLibrary/Libraries/AquaLib/AquaModelLibrary.pdb

CharFileLibrary/Libraries/AquaLib/Newtonsoft.Json.pdb

CharFileLibrary/Libraries/AquaLib/ZomboniLib.pdb
